<!DOCTYPE html>
<html>
<head>
	<title>Description</title>
	<link rel="icon" href="webLogo.png" type="image/icon type">
	<style>.footer{position:relative;right:0;bottom:0;left:0;padding:1rem;background-color:#efefef;text-align:center}</style>
</head>
<body>
	<h1 style="color: rgb(0, 153, 255);padding-top: 20px;font-size: 50px" align="center">Description</h1>
	<div style="padding-left: 75px;padding-right: 75px;">
	<p style="font-size: 25px">
		"This website builds an index over the COVID database using Artificial Intelligence to assist with real-time data analysis and data discovery.  It will help find answers to key scientific questions on a number of COVID-19 research topics."

		<ul style="font-size: 18px;">
			Queries Example:
				<li>“Treatment”</li>
                <li>“Transmission”</li>
                <li>"Policies and protocols for screening and testing."</li>
     			<li>"Policies to mitigate the effects on supplies associated with mass testing, including swabs and reagents."</li>
     			<li>"Technology roadmap for diagnostics."</li>
 				<li>"Seasonality of transmission."</li>
 				<li>"Persistence of virus on surfaces of different materials (e,g., copper, stainless steel, plastic)."</li>
 				<li>"Natural history of the virus and shedding of it from an infected person"</li>
				<li>“Smoking, pre-existing pulmonary disease"</li>
     			<li>"Co-infections (determine whether co-existing respiratory/viral infections make the virus more transmissible or virulent) and other co-morbidities"</li>
		</ul>

	</p>
	<p style="padding: 0px;font-size: 20px;text-decoration:none;">Video Description:</p>
	<iframe width="460" height="280" src="https://www.youtube.com/embed/Aazzk37Nzxc" frameborder="1" align="center" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<footer class="footer">Developed and Maintained By:<strong><a href="https://www.linkedin.com/in/mayank-raj-b3701141/" target="_blank" style="text-decoration:none;color: rgb(0, 153, 255);">Mayank Raj</a></strong> and <strong><a href="https://www.linkedin.com/in/jayant-khandelwal-2879aa157/" target="_blank" style="text-decoration:none;color: rgb(0, 153, 255)"> Jayant Khandelwal</a></strong></footer>
</body>
</html>